# DAb-seq CONFIG file
# for running the Docker-based DAb-seq pipeline
# Ben Demaree 2020

# REQUIRED: base and cohort folder (must exist)
base_dir = '/input/'
cohort_dir = base_dir + cohort_name + '/'

# option to delete all temporary files after pipeline completion
file_cleanup = True

[Barcoding]

# base directory for sample
sample_dir =  cohort_dir + sample_name + '/'

# directory for barcode counting
barcode_dir = sample_dir + 'barcodes/'

# directory for temporary files
temp_dir = sample_dir + 'temp/'

# summary file for samples
summary = sample_dir + sample_name + '.run_summary.txt'

[DNA]

# REQUIRED: panel fastq directory must exist and contain raw fastq files
panel_fastq = sample_dir + 'fastq/panel/'

# bowtie2 index location
bt2_ref = '/dabseq/references/hg19'

# human reference genome fasta file path
human_fasta_file = '/dabseq/references/hg19.fasta'

# interval file path (EXCLUDING primer coordinates)
interval_file = sys.path[0] + '/panel_files/AML/AML.bed'

# amplicon file path (INCLUDING primer coordinates)
amplicon_file = sys.path[0] + '/panel_files/AML/AML.amplicons'

[Antibodies]

# REQUIRED: ab fastq directory must exist and contain raw fastq files
ab_fastq = sample_dir + 'fastq/abs/'

# ab barcode csv
ab_barcode_csv_file = sys.path[0] + '/ab_csv/ab_barcodes_abseq13-.csv'

# ab tag handle sequences
ab_handles = '-g GGCTTGTTGTGATTCGACGAT -a AAGCTTGTTTCTGTGCACTGAG'

# locations of umi and ab barcode in trimmed ab read
ab_bar_coord = range(5, 13)
ab_umi_coord = range(0, 5) + range(13, 18)

# minimum quality for all umi bases
min_umi_qual = 20

[Genotyping]

# base output directory for genotyping data
cohort_genotyping_dir = cohort_dir + 'GENOTYPING/'

# option to exclude RUNX1_4 (used for antibodies)
exclude_RUNX1_4 = True

# minimum read depth and single-cell vaf for all flt3 variants
min_itd_dp = 15
min_itd_vaf = 0.15

# snpeff config file path
snpeff_config_file = '/dabseq/programs/snpEff/snpEff.config'

# clinvar vcf file path
clinvar_vcf_file = '/dabseq/references/clinvar_20200329.chr.vcf.gz'