[DNAFolders]

# base directory and panel fastq directory must exist and contain raw fastq files
base_dir = '/drive3/dabseq/output/' + sample_basename + '/'
panel_fastq_dir = '/drive3/dabseq/fastq/panel/' + sample_basename + '/merged/'

# the following files and directories will be automatically created
summary = base_dir + sample_basename + '_file_summary.txt'              # summary file for samples
barcode_dir = base_dir + 'barcodes/'                # directory for barcode counting
temp_dir = base_dir + 'temp/'                       # directory for temporary files
by_cell_dir = base_dir + 'cells/'
by_cell_fastq_dir = by_cell_dir + 'fastq/'             # directory for fastq by cell
by_cell_bam_dir = by_cell_dir + 'bam/'                 # directory for bam (and bai) by cell
by_cell_gvcf_dir = by_cell_dir + 'gvcf/'               # directory for gvcf by cell
by_cell_flt3_dir = by_cell_dir + 'flt3/'               # directory for flt3 itd calling by cell

[AntibodyFolders]

# ab fastq directory must exist and contain raw fastq files
ab_fastq_dir = '/drive3/dabseq/fastq/abs/' + sample_basename + '/'

# the following files and directories will be automatically created
ab_dir = base_dir + 'abs/'                          # directory for storing antibody data
ab_reads_merged = ab_dir + sample_basename + '_ab_reads.tsv'            # sample ab reads file
umi_counts_merged = ab_dir + sample_basename + '_umi_counts.tsv'        # sample umi counts file

[Genotyping]

# bowtie2 index location
bt2_ref = '/drive2/igenomes/hg19/Homo_sapiens/UCSC/hg19/Sequence/Bowtie2Index/genome'

# human reference genome fasta file path
human_fasta_file = '/drive2/igenomes/hg19/Homo_sapiens/UCSC/hg19/Sequence/WholeGenomeFasta/genome.fa'

# interval file path (EXCLUDING primer coordinates)
interval_file = sys.path[0] + '/panel_files/AML/AML.bed'

# amplicon file path (INCLUDING primer coordinates)
amplicon_file = sys.path[0] + '/panel_files/AML/AML.amplicons'

[OtherOptions]

# option to delete all temporary fastq files after pipeline completion
fastq_cleanup = False

[AntibodyTags]

# ab barcode csv
ab_barcode_csv_file = sys.path[0] + '/ab_csv/ab_barcodes_abseq6.csv'

# ab tag handle sequences
ab_handles = '-g GGCTTGTTGTGATTCGACGAT -a AAGCTTGTTTCTGTGCACTGAG'

# locations of umi and ab barcode in trimmed ab read
ab_bar_coord = range(5, 13)
ab_umi_coord = range(0, 5) + range(13, 18)

# minimum quality for all umi bases
min_umi_qual = 20
